body { font-family: 'Montserrat', sans-serif; }

h4 { font-weight: bold; }

a { color: white; }
	a:hover, a:visited {
    color: white;
    text-decoration: none;
}  
.header { padding: 40px; }

.btn-link { 
	border-radius: 0px; 
	border-color: black;
}
.btn-link:hover {
	color: white;
    text-decoration: none;
}

/*jumbotron*/
.jumbotron {
	background: url(img/jumbotron.jpg) no-repeat center center;
	background-size: cover;
    width: 100%;
    min-height: 350px;
}

/*skills section / icons*/
.material-icons {
    font-size: 60px;
    color: white;
}

/*arrow up*/
a#gototop {
   position: fixed;
   bottom: 9px;
   right: 9px;
   padding: 0;
   width: 40px;
   height: 40px;
   background: url(img/ic_keyboard_arrow_up_black_24dp_2x.png) no-repeat center center;
}

